.env
.aws-sam/
__pycache__/
*.pyc
*.pyo
.coverage
htmlcov/
test-results.xml
.pytest_cache/
*.egg-info/
dist/
build/
.venv/
venv/
/tmp/
*.zip
{src/
node_modules/
dashboard/node_modules/
trust-policy.json
app-policy.json
app-policy-update.json
jenkins-policy.json
